*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#f5f6f6;
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: white;
    color: black;
    
}

.container,
.form3{
    display: flex;
    flex-direction: row;
}

.form3 input{
    margin: 10px;
    padding-left: 10px;
    outline: none;
}
.form3 input{
    width: 200px;
    height: 40px;
}

.btns{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.account1{
    background-color: #fdfdfd;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 6%;
    height: 250px;
    border-radius: 10px;
}

.account{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10%;
}

.account input{
    width: 350px;
    height: 50px;
    margin-top: 60px;
    margin-left: 20%;
    border-radius: 5px;
    padding-left: 20px;
}

.btn1{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 39%;
}
.btnn{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
    margin-left: 2%;
}
.account1 h2{
    font-size: 30px;
    margin-left: 20%;
    padding-top: 30px
}

 /* Footer  */
 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20%;
    bottom: 0;
    position: fixed; 
} 
.social-icons {
    display: flex;
 }
 .social-icons a{
     width: 30px;
     height: 30px;
   justify-content: center;
   align-items: center;
  margin: 20px;
   border-radius: 10%;
 }

.social-icons a img:hover{
    background-color: #645c5c;
    transition: all ease 0.5s;
}
footer p{
    margin-top: 15px;
}


@media screen and (max-width :900px) {
    
    .account1{
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 5%;
        height: 250px;
        width: 400px;
    }
    
    .account{
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 10%;
    }
    
    .account h2{
        font-size: 25px;
    }
.account input{
    width: 300px;
    height: 40px;
    margin-top: 60px;
    margin-left: 10%;
    padding-left: 15px;
}
 .btn1{
    height: 30px;
    width: 80px;
    margin-left: 40%;
}
.btnn{
    height: 30px;
    width: 80px;
    margin-left: 4%;
}
    }
@media screen  and (max-width: 700px) {
    .container{
      justify-content: space-around;
    }
    
    .form3 input{
        margin: 10px;
        padding-left: 0px;
    }
    .form3 input{
        width: 150px;
        height: 30px;
    }
    .btns{
        height: 30px;
        width: 80px;
    }
    .container img{
        width: 60px;
        height: 45px;
    }
    .account1{
        margin-top: 25%;
        margin-left: 2%;
    }
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
.social-icons a img{
    width: 20px;
    height: 20px;
 margin-top: 10px;
}

    footer{
        display: flex;
        flex-wrap: initial;
        background-color:#f5f6f6;;
        font-size: 20px;
    position:relative;
    padding-left: 15%;
    }
}
@media only screen and (max-width:550px) {
    .container{
        background-color: #f5f6f6;
        display: flex;
        flex-direction: column;
        padding-top: 30px;

    }
}
@media screen and (max-width:470px) {
    .form3 input{
        width: 100px;
        height: 30px;
    }
    .btns{
        height: 30px;
        width: 50px;
    }
    .container img{
        width: 50px;
        height: 40px;
    }
    .account1{
        margin-left: 5%;
        margin-right: 2%;
        margin-top: 2%;
        height: 200px;
        width: 300px;
    }
    
    .account{
        padding-left: 8%;
        padding-right: 10%;
        padding-top: 20%;
    }
    
    .account h2{
        font-size: 20px;
    }
.account input{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 10%;
    padding-left: 15px;
}
 .btn1{
    margin-left: 20%;
}
.btnn{
    margin-left: 2%;
}
footer p{
    font-size: 15px;
}
}
