*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#f5f6f6;
    height: 100%;
}
/* Home page
=========================================== */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: white;
    color: black;
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
nav li a:hover{
    border-bottom: 2px solid #000000;
}
nav ul li a {
    color: black;
    text-decoration: none;
   margin: 30px;
   font-weight: bold;
   font-size: 20px;
}
nav input{
    background-color: black;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 35px;
    width: 130px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
/* main */
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main div{
    padding-left: 20%;
    padding-top: 5%;
}
.main #p1{
    font-size: 15px;
}
.main #p2{
    font-size: 20px;
}
.main #p3{
    font-size: 40px;
    font-weight: bold;
}
.main #p4{
    font-size: 20px;
   
}
#pic{
    width: 350px;
    height: 500px;
}
 /* Footer  */
 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    bottom: 0;
    position: relative;
    /* position: fixed; */
    padding-left: 20%;
    
} 
.social-icons {
    display: flex;
 }
 .social-icons a{
     width: 30px;
     height: 30px;
   justify-content: center;
   align-items: center;
  margin: 20px;
   border-radius: 10%;
 }

.social-icons a img:hover{
    background-color: #645c5c;
    transition: all ease 0.5s;
}
footer p{
    margin-top: 15px;
}

@media screen and (max-width:750px){
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
#pic{
    width: 300px;
    height: 400px;
}
main div{
    padding-left: 15%;
    padding-top: 5%;
}
.main #p1{
    font-size: 10px;
}
.main #p2{
    font-size: 15px;
}
.main #p3{
    font-size: 30px;
    font-weight: bold;
}
.main #p4{
    font-size: 15px;
}
.social-icons a img{
    width: 20px;
    height: 20px;
 margin-top: 10px;
}

    footer{
        display: flex;
        flex-wrap: initial;
        background-color:#f5f6f6;;
        font-size: 20px;
    position:relative;
    padding-left: 15%;
    }

   
}

/* contact page 
===========================================*/
#h1{
  margin-left: 40%;
  margin-top: 40px;
}
.contact p{
    padding-left: 40%;
    font-size: 20px;
   
}
.contact .p1{
    margin-top: 55px;
}

.form{
    display: flex;
    flex-direction: row;
    padding-left: 30%;
    margin-top: 10px;
}
.form-group.success input {
    border-color: #09c372;
}

.form-group.error input {
    border-color: #ff3860;
}
.error {
    color: #ff3860;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 35px;
}
.form input{
    margin: 5px;
    border: 1px solid black;
    width: 280px;
    height: 40px;
    padding-left:20px;
}
.form input:focus{
    outline: none;
}
.active{
   border-bottom: 2px solid black;
}
.message textarea{
   margin-top: 5px;
   height: 140px;
   width: 280px;
   padding-left: 20px;
   padding-top: 10px;
   border: 1px solid black;
}
.message textarea:focus{
    outline: none;
}
.message #message{
    display: flex;
    flex-direction: column;
}
.message.success textarea {
    border-color: #09c372;
}

.message.error textarea{
    border-color: #ff3860;
}
.form button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: 200px;
    margin-top: 10px;
    border: none;
}
#footer{
display: flex;
flex-direction: row;
align-items: center;
width: 100%;
height: 75px;
background-color: white;
color: black;
font-weight: bold;
font-size: 25px;
bottom: 0;
position: fixed;
padding-left: 20%;
}
@media screen and (max-width:870px) {
    #h1{
  margin-left: 20%;
  margin-top: 40px;
  font-size: 30px;
}
.contact p{
    padding-left: 9%;
    font-size: 15px;
   
}
.form{
    padding-left: 7%;
    margin-top: 10px;
}
.form input{
    width: 190px;
    height: 40px;
    margin: 1px;
}
.error {
    color: #ff3860;
    font-size: 13px;
    margin-top: -3px;
    margin-bottom: 5px;
    margin-left: 12px;
}
.message textarea{
    height: 140px;
    width: 170px;
    margin-top: 1px;
 }
 .form button{
    width: 90px;
    height: 40px;
    margin-left: 120px;
    margin-bottom: 20px;
}
#footer{
    display: flex;
    flex-wrap: initial;
    background-color:#f5f6f6;;
    font-size: 20px;
position:relative;
padding-left: 15%;
}
}
/* About me page
==================================================================== */
#about{
    font-size: 30px;
    padding-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.cont{
    display: flex;
    flex-direction: row;
}
.cont img{
    padding-left: 40px;
    margin-top: 10px;
    padding-bottom: 10px;
}

.str{
    margin-left: 30px;
    margin-top: 10px;
}
.str h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.str p{
    font-size: 20px;
}
.btn4{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 10px;
    margin: 20px;
}
#graph{
    padding-left: 40px;
    margin-top: 10px;
    font-size: 15px;
}
.img{
    height: 15px;
    margin-left: 20px;
}
@media only screen and (max-device-width:800px) {
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
#about{
    font-size: 3opx;
    padding-left: 20px;
}

.str{
    padding-left: 5px;
    margin-top: 5px;
}
 .btn4{
    width: 70px;
    margin: 20px;
}
.str h2{
    font-size: 25px;
}
.str p{
    font-size: 15px;
}
}

/* blog page
================================================================================ */


/* blogggggggggggg */






.indicators{
    position: relative;
}
 .indicator {
    position: absolute;
    top: 40%;
     right: 2%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(214, 210, 210);
} 
form .indicator {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #faf5f5;
   
} 

form .indicator.valid{
    background-image: url(../img/valid.jpg);
    background-size: cover;
}
form .indicator.invalid{
    background-image: url(../img/invalid.png);
    background-size: cover;
}

