*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#f5f6f6;
    height: 100%;
}

 /* Footer  */
 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20%;
    bottom: 0;
    position: fixed; 
    margin-top: 40px;
} 
.social-icons {
    display: flex;
 }
 .social-icons a{
     width: 30px;
     height: 30px;
   justify-content: center;
   align-items: center;
  margin: 20px;
   border-radius: 10%;
 }

.social-icons a img:hover{
    background-color: #645c5c;
    transition: all ease 0.5s;
}
footer p{
    margin-top: 15px;
}
@media screen and (max-width:750px){
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
.social-icons a img{
    width: 20px;
    height: 20px;
 margin-top: 10px;
}

    footer{
        display: flex;
        flex-wrap: initial;
        background-color:#f5f6f6;;
        font-size: 20px;
    position:relative;
    padding-left: 15%;
    }
    footer p{
        margin-top: 30px;
    }
}
/* Sign up page 
===========================================*/
/* 
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#f5f6f6;
    height: 100%;
}

.text h1{
  font-size: 30px;
  padding-left: 45%;
  padding-top: 30px;
}

.form1{
    display: flex;
    flex-direction: column;
    padding-left: 35%;
    margin-top: 50px;
    
}
.form1 input,
.btn{
    width: 400px;
    height: 40px;
    margin: 5px;
    padding-left: 20px;
}
.form1 input:focus{
    outline: none;
}
.input-type span{
    display: flex;
    flex-direction: column;
}
.input-type.success input {
    border-color: #09c372;
}

.input-type.error input {
    border-color: #ff3860;
}

.input-type .error {
    color: #ff3860;
    font-size: 15px;
    height: 13px;
    margin-left: 40px;
}
.form1
.btn{
    background-color: black;
    color: white;
    border: none;
}
@media only screen and (max-width:700px){
    body{
        height: 50%;
    }
    .form1 input,
.btn{
    width: 250px;
    height: 30px;
    margin-right: 20%;
}
}
 */
  body{
     background-color:#f5f6f6;
    --color-primary : black;
    --color-secondary: #252c6a;
    --color-error: #cc3333;
    --color--success:#4bb544;
    --border-radius: 5px;
} 
#section{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
   
}
 .container{
     width: 400px;
    max-width: 400px;
    margin: 1rem;
    margin-top: 5%;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0.1);
    border-radius: var(--border-radius);
    background: #ffffff;
    justify-content: center;
}
.form--hidden{
    display: none;
}

.form > *:first-child{
    margin-top: 0;
}
.form > *:last-child{
    margin-bottom: 0;
}
.form__title{
    text-align: center;
    margin-bottom: 1rem;
    top: 0;
    font-size: 2rem;
}

.form__input-group{
    margin-bottom: 1rem;
}


.form__input{
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border: 1px solid black;
    outline: none;
  
}

/* .form__input--error{
    color: var(--color-error);
    border-color: var(--color-error) ;
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);

} */
.indicators{
    position: relative;
}
.indicator {
    position: absolute;
    top: 40%;
    right: 2%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(214, 210, 210);
}
form .indicator {
    position: absolute;
    top: 20%;
    right: 2%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #faf5f5;
   
}

form .indicator.valid{
    background-image: url(../img/valid.jpg);
    background-size: cover;
}
form .indicator.invalid{
    background-image: url(../img/invalid.png);
    background-size: cover;
}





.form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    background-color: var(--color-primary);
}
.form__button:disabled {
    cursor: not-allowed;
    background-color: var(--color-primary);
}

.form__button:enabled {
    background-color: var(--color-primary);
    cursor: pointer;
}


.form__button:hover{
   background-color: #f5f6f6;
   color: black;
}
.form__button:active{
    transform: scale(0.98);
}

.form__text{
    text-align: center;
    margin: 10px;
   
}
.form__text a{
 color: #1877F2; 
}
.form__link{
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover{
    text-decoration: underline;
}
.form__input-error-message{
    visibility: hidden;
}
.form__input-group.success input{
    border-color: var(--color--success);
 
 }
 .form__input-group.error input{
     border-color: var(--color-error);
  }
  .form__input-group small{
      visibility: hidden;
      position: absolute;
  }
  .form__input-group.error small{
      color: var(--color-error);
      visibility: visible;
  } 

@media screen and (max-width:750px){
    .container{
        width: 300px;
       max-width: 300px;
   }

}
 
/* Login 
============================================================================== */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: white;
    color: black;
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
nav li a:hover{
    border-bottom: 2px solid #000000;
}

nav ul li a {
    color: black;
    text-decoration: none;
   margin: 30px;
   font-weight: bold;
   font-size: 20px;
}
nav input{
    background-color: black;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 35px;
    width: 130px;
    font-size: 20px;
    cursor: pointer;
    border: none;
} 





@media screen and (max-width:750px){
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
#pic{
    width: 300px;
    height: 400px;
}
main div{
    padding-left: 15%;
    padding-top: 5%;
}
.main #p1{
    font-size: 10px;
}
.main #p2{
    font-size: 15px;
}
.main #p3{
    font-size: 30px;
    font-weight: bold;
}
.main #p4{
    font-size: 15px;
}
.social-icons a img{
    width: 20px;
    height: 20px;
 margin-top: 10px;
}
}
/* form

.form2{
    background-color: #fdfdfd;
    margin-left: 35%;
    margin-right: 25%;
    margin-top: 6%;
    border-radius: 20px;
}
.form2 h2{
    margin-left: 35%;
    margin-right: 30%;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}
  .form2 input,
.btn2{
    width: 250px;
    height: 40px;
    margin: 8px;
    margin-left: 20%;
    margin-right: 30%;
}
.form2 #text1,
#text2{
    margin-left: 90px;
    font-size: 15px;
}
.form2 input{
    border: 0;
    border-bottom: 1px solid #000;
}
 .btn2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}
.form2 input:focus{
    outline: none;
  }
  .input.success input {
    border-color: #09c372;
}

.input.error input {
    border-color: #ff3860;
}

.input .error {
    color: #ff3860;
    font-size: 15px;
    height: 13px;
    padding-left: 90px;
}

.form2 a{
    color: #1877F2;
    text-decoration: none;
}
.form2 #pass{
    margin-left: 35%;
}

.form2 p{
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 15%;
    padding-bottom: 5%;
    font-size: 15px;
}
@media screen and (max-width:1500px) {
    .form2{
        
        margin-left: 40%;
        margin-right: 30%;
        margin-top: 2%;
    }
}
@media screen and (max-width:1200px) {
    .form2{
        
        margin-left: 25%;
        margin-right: 35%;
        margin-top: 3%;
    }
    .form2 h2{
        margin-left: 25%;
        margin-right: 20%;
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 30px;
    }
      .form2 input,
    .btn2{
        width: 240px;
        height: 20px;
        margin: 8px;
        margin-left: 15%;
        margin-right: 0%;
    }
    
    .form2 p{
        padding-left: 14%;
        padding-right: 20%;
        padding-top: 15%;
        padding-bottom: 5%;
    }
    .form2 #text1,
#text2{
    margin-left: 70px;
    font-size: 15px;
}
    .btn2 {
        height: 30px;
        margin-bottom: 30px;
    }
    }
    
@media screen and (max-width:750px){
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
.form2{
        
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 10%;
}
.form2 h2{
    margin-left: 35%;
    font-size: 20px;
}
.form2 input,
.btn2{
    width: 200px;
    height: 30px;
    margin: 8px;
    margin-left: 15%;
}
.form2 #text1,
#text2{
    margin-left: 50px;
    font-size: 15px;
}
.btn2 {
    margin-bottom: 30px;
}
.form2 p{
    padding-left: 10%;
}
.form2 #pass{
    margin-left: 20%;
}
}
@media only screen and (max-width:355px) {
    
.form2{
        
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 13%;
}
.form2 h2{
    margin-left: 30%;
    font-size: 15px;
}
.form2 input,
.btn2{
    width: 150px;
    height: 20px;
    margin: 8px;
    margin-left: 10%;
}

.form2 p{
    padding-left: 6%;
}
.form2 #pass{
    margin-left: 25%;
}
} */

/* =Subscribe==========================================s==
 */
 .sub{
     display: flex;
     flex-direction: row;
     padding-top: 20%;
     padding-left: 100px;
 }
 .sub h1{
     font-size: 30px;
     margin-top: 5px;
 }
 .newslatter form {
    width: 400px;
    max-width: 100%;
    position: relative;
    margin-left: 60px;
}
.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid rgb(22, 22, 22);
    outline: none;
    border-radius: 30px;
}
.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: rgb(9, 10, 10);
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #868686;
    top: 6px;
    right: 6px;
}
.subs.success input {
    border-color: #09c372;
}

.subs.error input {
    border-color: #ff3860;
}

.subs .error {
    color: #ff3860;
    font-size: 15px;
    height: 13px;
    padding-left: 90px;
}
