<footer>
    <p>Let's connect</p>
    <div class="social-icons">
        <a href="https://www.linkedin.com/in/iragena-fides-noella-634bb3226/"><img src="img/linkedin-icon.png" width="30" height="30"></a>
        <a href="https://www.twitter.com/fidesnoella/"><img src="img/twitter.png" width="30" height="30"></a>
        <a href="https://www.instagram.com/fidesnoella/"><img src="img/instagram.png" width="30" height="30"> </a>
        <a href="https://www.facebook.com/fidesnoella/"><img src="img/facebook-app-symbol.png" width="30" height="30"></a>
</div>
</footer>
</body>
</html>