<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>portifolio</title>
</head>
<body>
    
       
       <nav>
        <h1 class="logo"><img src="img/LOGO.png" width="80" height="53"></h1>
           <ul>
               <li><a href="/" class="active">Home</a></li>
               <li><a href="about.html" >About</a></li>
               <li><a href="/login">Blog</a></li>
               <li><a href="/contact">Contact</a></li>
               <a href="/login"><input type="text" placeholder="&nbsp; Let's talk"></a>
               
           </ul>
           
       </nav>
  
