*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#f5f6f6;
    height: 100%;
}
/* Home page
=========================================== */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: white;
    color: black;
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
nav li a:hover{
    border-bottom: 2px solid #000000;
}

nav ul li a {
    color: black;
    text-decoration: none;
   margin: 30px;
   font-weight: bold;
   font-size: 20px;
}
nav input{
    background-color: black;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 35px;
    width: 130px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
/* main */
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main div{
    padding-left: 20%;
    padding-top: 5%;
}
.main #p1{
    font-size: 15px;
}
.main #p2{
    font-size: 20px;
}
.main #p3{
    font-size: 40px;
    font-weight: bold;
}
.main #p4{
    font-size: 20px;
   
}
 /* Footer  */
 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    position: fixed;
    padding-left: 20%;
    bottom: 0;
} 
.social-icons {
    display: flex;
 }
 .social-icons a{
     width: 30px;
     height: 30px;
   justify-content: center;
   align-items: center;
  margin: 20px;
   border-radius: 10%;
 }

.social-icons a img:hover{
    background-color: #645c5c;
    transition: all ease 0.5s;
}

/* contact page 
===========================================*/
#h1{
  margin-left: 40%;
  margin-top: 50px;
}
.contact p{
    padding-left: 40%;
    font-size: 20px;
   
}
.contact .p1{
    margin-top: 70px;
}

.form{
    display: flex;
    flex-direction: row;
    padding-left: 30%;
    margin-top: 10px;
}
.form input{
    margin: 10px;
    border: 1px solid black;
    width: 280px;
    height: 40px;
}
.message textarea{
   margin-top: 10px;
   height: 160px;
   width: 280px;
   border: 1px solid black;
}
.form button{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: 200px;
    margin-top: 10px;
    border: none;
}
/* About me page
==================================================================== */
#about{
    font-size: 35px;
    padding-left: 40px;
    margin-top: 10px;
}
.cont{
    display: flex;
    flex-direction: row;
}
.cont img{
    padding-left: 40px;
    margin-top: 20px;
    padding-bottom: 20px;
}

.str{
    margin-left: 30px;
    margin-top: 10px;
}
.str h2{
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.str p{
    font-size: 20px;
}
.btn4{
    width: 120px;
    height: 40px;
    background-color: black;
    color: white;
    border: none;
    margin-top: 10px;
    margin: 20px;
}
#graph{
    padding-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.img{
    height: 20px;
    margin-left: 20px;
}

