

 /* Footer  */
 footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 75px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 25px;
    padding-left: 20%;
    bottom: 0;
    position: fixed;
} 
.social-icons {
    display: flex;
 }
 .social-icons a{
     width: 30px;
     height: 30px;
   justify-content: center;
   align-items: center;
  margin: 20px;
   border-radius: 10%;
 }

.social-icons a img:hover{
    background-color: #645c5c;
    transition: all ease 0.5s;
}
footer p{
    margin-top: 15px;
}
@media screen and (max-width:750px){
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
.social-icons a img{
    width: 20px;
    height: 20px;
 margin-top: 10px;
}

    footer{
        display: flex;
        flex-wrap: initial;
        background-color:#f5f6f6;;
        font-size: 20px;
    position:relative;
    padding-left: 15%;
    }
}
/* Sign up page 
===========================================*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    background-color:#f5f6f6;
    height: 100%;
}

.text h1{
  font-size: 30px;
  padding-left: 45%;
  padding-top: 30px;
}

.form1{
    display: flex;
    flex-direction: column;
    padding-left: 35%;
    margin-top: 60px;
    
}
.form1 input,
.btn{
    width: 400px;
    height: 40px;
    margin: 8px;
    padding-left: 20px;
}
.form1 input:focus{
    outline: none;
}
 .input-type #text1,
 #text3,
 #text4,
#text5{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.input-type #text2{
    font-weight: 300;
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
.form1
.btn{
    background-color: black;
    color: white;
    border: none;
}
@media only screen and (max-width:700px){
    body{
        height: 50%;
    }
    .form1 input,
.btn{
    width: 250px;
    height: 40px;
    margin: 4px;
    margin-right: 20%;
}
}


/* Login 
============================================================================== */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 72px;
    background-color: white;
    color: black;
    
}

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
nav li a:hover{
    border-bottom: 2px solid #000000;
}

nav ul li a {
    color: black;
    text-decoration: none;
   margin: 30px;
   font-weight: bold;
   font-size: 20px;
}
nav input{
    background-color: black;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    height: 35px;
    width: 130px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}
/* form */

.form2{
    background-color: #fdfdfd;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 6%;
    border-radius: 20px;
}
.form2 h2{
    margin-left: 35%;
    margin-right: 30%;
    font-size: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
}
  .form2 input,
.btn2{
    width: 250px;
    height: 40px;
    margin: 8px;
    margin-left: 20%;
    margin-right: 30%;
}
.form2 #text1,
#text2{
    margin-left: 90px;
    font-size: 15px;
}
.form2 input{
    border: 0;
    border-bottom: 1px solid #000;
}
 .btn2 {
    background-color: black;
    color: white;
    border-radius: 20px;
    border: none;
    margin-bottom: 30px;
}
.form2 input:focus{
    outline: none;
  }

.form2 a{
    color: #1877F2;
    text-decoration: none;
}
.form2 #pass{
    margin-left: 35%;
}

.form2 p{
    padding-left: 20%;
    padding-right: 30%;
    padding-top: 15%;
    padding-bottom: 5%;
    font-size: 15px;
}
@media screen and (max-width:1200px) {
    .form2{
        
        margin-left: 25%;
        margin-right: 35%;
        margin-top: 6%;
    }
    .form2 h2{
        margin-left: 25%;
        margin-right: 20%;
        font-size: 30px;
        padding-top: 20px;
        margin-bottom: 50px;
    }
      .form2 input,
    .btn2{
        width: 240px;
        height: 20px;
        margin: 8px;
        margin-left: 15%;
        margin-right: 0%;
    }
    
    .form2 p{
        padding-left: 14%;
        padding-right: 20%;
        padding-top: 25%;
        padding-bottom: 5%;
    }
    .form2 #text1,
#text2{
    margin-left: 70px;
    font-size: 15px;
}
    .btn2 {
        height: 30px;
        margin-bottom: 30px;
    }
    }
    
@media screen and (max-width:750px){
    header{
        display: initial;
        background-color: white;
    }

nav ul li a {
   margin: 20px;
   font-size: 15px;
}
nav input{
    height: 20px;
    width: 60px;
    font-size: 10px;
}
.form2{
        
    margin-left: 15%;
    margin-right: 20%;
    margin-top: 10%;
}
.form2 h2{
    margin-left: 35%;
    font-size: 20px;
}
.form2 input,
.btn2{
    width: 200px;
    height: 30px;
    margin: 8px;
    margin-left: 15%;
}
.form2 #text1,
#text2{
    margin-left: 50px;
    font-size: 15px;
}
.btn2 {
    margin-bottom: 30px;
}
.form2 p{
    padding-left: 10%;
}
.form2 #pass{
    margin-left: 20%;
}
}
@media only screen and (max-width:355px) {
    
.form2{
        
    margin-left: 10%;
    margin-right: 15%;
    margin-top: 13%;
}
.form2 h2{
    margin-left: 30%;
    font-size: 15px;
}
.form2 input,
.btn2{
    width: 150px;
    height: 20px;
    margin: 8px;
    margin-left: 10%;
}

.form2 p{
    padding-left: 6%;
}
.form2 #pass{
    margin-left: 25%;
}
}
/* forget password
=========================================================== */
 .container,
.form3{
    display: flex;
    flex-direction: row;
    
}

.form3 input{
    margin: 10px;
    padding-left: 10px;
}
.form3 input{
    width: 200px;
    height: 40px;
}

.btns{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.account1{
    background-color: #fdfdfd;
    margin-left: 10%;
    margin-right: 8%;
    margin-top: 6%;
    height: 300px;
    border-radius: 10px;
}

.account{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 10%;
}

.account input{
    width: 350px;
    height: 50px;
    margin-top: 60px;
    margin-left: 20%;
    border-radius: 5px;
    padding-left: 20px;
}
 .btn1{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 39%;
}
.btnn{
    height: 40px;
    width: 100px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 2%;
}
.account1 h2{
    font-size: 30px;
    margin-left: 20%;
    padding-top: 30px
}

@media screen and (max-width :900px) {
    
    .account1{
        margin-left: 10%;
        margin-right: 5%;
        margin-top: 5%;
        height: 300px;
        width: 400px;
    }
    
    .account{
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 10%;
    }
    
    .account h2{
        font-size: 25px;
    }
.account input{
    width: 300px;
    height: 40px;
    margin-top: 60px;
    margin-left: 10%;
    padding-left: 15px;
}
 .btn1{
    height: 30px;
    width: 80px;
    margin-left: 40%;
}
.btnn{
    height: 30px;
    width: 80px;
    margin-left: 4%;
}
    }
@media screen  and (max-width: 700px) {
    .container{
      justify-content: space-around;
    }
    
    .form3 input{
        margin: 10px;
        padding-left: 0px;
    }
    .form3 input{
        width: 150px;
        height: 30px;
    }
    .btns{
        height: 30px;
        width: 80px;
    }
    .container img{
        width: 60px;
        height: 45px;
    }
    .account1{
        margin-top: 25%;
        margin-left: 2%;
    }
}
@media only screen and (max-width:550px) {
    .container{
        background-color: #f5f6f6;
        display: flex;
        flex-direction: column;
        padding-top: 30px;

    }
}
@media screen and (max-width:470px) {
    .form3 input{
        width: 100px;
        height: 30px;
    }
    .btns{
        height: 30px;
        width: 50px;
    }
    .container img{
        width: 50px;
        height: 40px;
    }
    .account1{
        margin-left: 5%;
        margin-right: 2%;
        margin-top: 2%;
        height: 200px;
        width: 300px;
    }
    
    .account{
        padding-left: 8%;
        padding-right: 10%;
        padding-top: 20%;
    }
    
    .account h2{
        font-size: 20px;
    }
.account input{
    width: 200px;
    height: 40px;
    margin-top: 30px;
    margin-left: 10%;
    padding-left: 15px;
}
 .btn1{
    margin-left: 20%;
}
.btnn{
    margin-left: 2%;
}
footer p{
    font-size: 15px;
}
}