
<%- include(`partials/header`); -%>
<header>
    <main class="main">
        <div>
            <p id="p1">Its me</p>
        
             <p id= "p2">IRAGENA Fides Noella</p>
            <p id="p3">I am a Web developer & <br>Web designer</p>
            <p id="p4">I am passionate for creating  engaging ,<br>
                 entertaining user experiences.</p>
        </div>
        <img src="img/photo.JPG"alt="My picture" id="pic">
        </main>
</header>
<%- include(`partials/footer`); -%>